<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10663492433-g9en22rjuep3mcf76euk66kme9219c4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10663492433-g9en22rjuep3mcf76euk66kme9219c4j</string>
	<key>API_KEY</key>
	<string>AIzaSyBwUyl4pGcF3ER4wEiD3xkI751Ge43zNLg</string>
	<key>GCM_SENDER_ID</key>
	<string>10663492433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getx.app.connectu</string>
	<key>PROJECT_ID</key>
	<string>connect-u-app</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-u-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10663492433:ios:fb7724e5db40cfad38b170</string>
</dict>
</plist>